.config-saved {
    background-color: darkgreen;
    color: white;
    font-weight: bold;
    font-size: 16px;
    display: block;
    text-align: center;
}

#refresh-button {
    background-color: gray;
    margin-bottom: 6px;
    margin-right: 4px;
    font-size: 32px;
    padding: 4px 10px 4px 10px;
}

i.button-refreshing {
    animation: rotate 1.125s;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.repository {
    background-color: #c0c0c0;
    padding: 0px 10px 2px 8px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.repository-refreshing {
    animation: fadein 1.5s;
}

@keyframes fadein {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.repository-title {
    font-size: 18px;
    color: #000000;
}

.repository-title-text {
    margin-left: 8px;
    color: #000000;
}

.hide-repository-content {
    display: none;
}

.pull-request {
    margin-bottom: 12px;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: #0a0a0a 2px 2px 2px;
    padding-bottom: 4px;
}

.pull-request-title {
    background-color: #2ba6cb;
    border-radius: 4px 4px 0px 0px;
    padding: 0px 4px 0px 4px;
    text-shadow: black 1px 1px;
}

.pull-request-title-link {
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
}

.pull-request-row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.pull-request-column {
    /*border-left: #000000 1px solid;*/
    /*border-right: #000000 1px solid;*/
}

.pull-request-status-block {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 48px;
    height: 48px;
    border-radius: 4px;
    box-shadow: #0a0a0a 2px 2px 2px;
    line-height: 48px;
    vertical-align: middle;
    text-align: center;
}

.pull-request-icon-status {
    font-size: 24px;
    display: inline-block;
}

.pull-request-icon-status:hover {
    font-size: 32px;
    display: inline-block;
}

.text-description-block {
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
}

.text-no-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pull-request-branch-title {
    font-weight: bold;
}

.assignees-block {
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
}

.reviewers-block {
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
}

div.user-badge {
    width: 44px;
    height: 44px;
    line-height: 36px;
    display: inline-block;
    background-color: #444444;
    color: #ffffff;
    vertical-align: middle;
    text-align: center;
    border: 4px solid #222222;
    border-radius: 32px;
    margin: 2px 3px 3px 2px;
    box-shadow: #0a0a0a 2px 2px 2px;
    font-weight: bold;
}

div.user-badge:hover {
    width: 46px;
    height: 46px;
    background-color: #555555;
    border: 5px solid #000000;
    border-radius: 36px;
    margin: 1px 2px 2px 1px;
    box-shadow: #0a0a0a 1px 1px 1px;
}

a.user-badge {
    display: inline-block;
    border: 4px solid;
    border-radius: 32px;
    margin: 2px 3px 3px 2px;
    box-shadow: #0a0a0a 2px 2px 2px;
}

a.user-badge:hover {
    border: 5px solid;
    margin: 1px 2px 2px 1px;
    box-shadow: #0a0a0a 1px 1px 1px;
}

img.user-badge {
    height: 36px;
    width: 36px;
    border-radius: 32px;
}

img.pending-review {
    filter: grayscale(100%) brightness(66%);
}

.label-block {
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
}

.pr-label {
    width: 72px;
    min-height: 36px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    border-radius: 4px;
    padding: 8px;
    font-weight: bold;
    margin: 2px 4px 4px 2px;
    box-shadow: #0a0a0a 2px 2px 2px;
}

.toggle-pull-requests {
    user-select: none;
}

.repository-options {
    background-color: #f8f8f8;
    height: 250px;
    overflow: auto;
    padding: 4px;
    margin-bottom: 16px;
}